body {
    margin: 0;
    font-family: system-ui, sans-serif;
    font-size: 16px;
}

.container {
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
}

header {
    padding: 20px 0;
    background-color: white;
    font-size: 18px;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    margin: 0;
}

header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

header nav li {
    margin-left: 20px;
}

header nav a {
    color: #6b7280;
    text-decoration: none;
    font-weight: bold;
}

header nav a:hover {
    color: #5A67D8;
}

.overview-hero {
    background-color: #E2E8F0;
}

.overview-hero .container {
    display: flex;
    align-items: center;
    padding: 40px 0;
}

.overview-hero-image img {
    width: 100%;
    max-width: 400px;
}

.overview-hero-text {
    flex: 1;
    margin-left: 20px;
}

.learn-about {
    padding: 40px 0;
}

.learn-about h2 {
    text-align: left;
    margin-bottom: 20px;
    font-size: 24px;
    color: #48BB78;
}

.cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.card {
    border: 1px solid #E2E8F0;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.card img {
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.card-body h3{
    text-align: center;
    padding: 10px;
    color: #48BB78
}

.card-body p {
    text-align: center;
    padding: 0 10px 10px 10px;
}


.testing {
    background-color: #4A5568;
    color: white;
}

.testing .container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    padding: 80px 0;
    text-align: center;
}

.testing .container .testing-desciption {
    grid-column: 1/3;
    text-align: left;
}

.testing .btn {
    background-color: #48BB78;
    color: white;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 5px;
}

.stories {
    padding: 40px 0;
}

.stories h2 {
    text-align: left;
    margin-bottom: 20px;
    color: #5A67D8;
}

.stories article {
    display: flex;
    margin-bottom: 20px;
}

.stories img {
    width: 200px;
    margin-right: 20px;
    border-radius: 50%;
}

.article-body {
    flex: 1;
}

.article-body h3 {
    font-size: 18px;
}

.article-body a {
    color: #5A67D8;
    text-decoration: none;
}

.newsletter {
    background-color: #48BB78;
    color: white;
    margin-bottom: 0;
}

.newsletter .container {
    text-align: center;
    padding: 120px;
    max-width: 450px;
}

.newsletter .container p {
    text-align: left;
}
    
.newsletter form {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.newsletter input {
    padding: 10px;
    width: 250px;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
}

.newsletter .btn {
    padding: 10px 15px;
    background-color: #5A67D8;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    border: none;
}

section {
    margin-bottom: 40px;
}

img {
    display: block;
    max-width: 100%;
}

footer {
    text-align: left;
    padding: 20px 0;
    background-color: #4A5568;
    color: white;
}
